b, h1 {
  color: #993520;
  font-family: 'PT Sans', sans-serif;
  /* font-size: 3e  m; */
}

img {
  width: 65%;
  max-height: auto;
}

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
}

.c1 {
  text-align: center;
  width: 100%;
}

@media (max-width: 800px) {
  img {
    width: 100%;
  }
  /* h1 {
    font-size: 2em;
  } */
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .c1 {
    margin-top: 10%;
  }
}
